<div class="section">
  <br />
  <div class="card faq">
    <h2>Frequently Asked Questions</h2>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">whatshot</i>What is Open Government Data?
        </div>
        <div class="collapsible-body">
          <span
            >Open Government Data refers to data made available online by
            governments for free reuse and redistribution by anyone (Attard et
            al. 2015).</span
          >
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">whatshot</i>What is (meta)data quality ?
        </div>
        <div class="collapsible-body">
          <span
            >Data of good quality can be defined as data that is “fit for use by
            data consumers [i.e., reusers]” (Wang and Strong 1996). In other
            words, it is a measurement of the ability of data to meet the
            specific needs of users. <br />As for the metadata quality, it can
            be defined as the fitness to describe the data, supporting the tasks
            of finding, identifying, selecting and eventually obtaining the data
            (Reiche et al. 2014).</span
          >
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">whatshot</i>How to get the Dataset
          Identifier?
        </div>
        <div class="collapsible-body">
          <span><b>1.</b> Go to the portal page</span><br />
          <span><b>2.</b> Select your dataset and click on it</span><br />
          <span
            ><b>3.</b> Under the tab "information", you will see the field
            "Dataset Identifier"</span
          ><br />
          <img
            src="../../../assets/dataset_id.png"
            style="width: 100% !important; max-width: 800px"
          /><br />
          <span><b>4.</b> Copy it</span><br />
        </div>
      </li>
      <!--<li>
        <div class="collapsible-header">
          <i class="material-icons">whatshot</i>Third
        </div>
        <div class="collapsible-body">
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>-->
    </ul>
  </div>
</div>
